<h1>Instagram Basic Display API</h1>

<a href="{{apiBaseUrl}}oauth/authorize?client_id={{ appId }}&redirect_uri={{redirectUri}}&scope=user_profile,user_media&response_type=code">
  Authorize with Instagram
</a>
